# board_rev is published by board_late_init() under CONFIG_ENV_VARS_UBOOT_RUNTIME_CONFIG
CONFIG_BOOTCOMMAND="if test \"${board_rev}\" = \"REVA\"; then setenv fdtfile imx6sx-sdb-reva.dtb; else setenv fdtfile imx6sx-sdb.dtb; fi; setenv devtype mmc; setenv devnum ${mmcdev}; ext4load ${devtype} ${devnum}:1 ${scriptaddr} /boot.scr && source ${scriptaddr}"
