# Configurations for all SL1680-based machines, added on customer/community
# request rather than being required by Torizon OS itself.

# PPP (point-to-point protocol) support
CONFIG_PPP=m
CONFIG_PPPOE_HASH_BITS=4
CONFIG_PPP_ASYNC=m

# SLIP (serial line) support
CONFIG_SLHC=m

# USB Network Adapters
CONFIG_USB_NET_CDCETHER=m
CONFIG_USB_NET_CDC_NCM=m
CONFIG_USB_NET_RNDIS_HOST=m

# USB Device Class drivers
CONFIG_USB_ACM=m

# USB Serial Converter support
CONFIG_USB_SERIAL_WWAN=m
CONFIG_USB_SERIAL_OPTION=m

# CRC functions
CONFIG_CRC_CCITT=m
