# Configurations required by Torizon OS on all SL1680-based machines

# MMC/SD/SDIO card support
CONFIG_MMC_SDHCI_OF_DWCMSHC=y
CONFIG_MMC_CQHCI=y

# Reset Controller Support
CONFIG_RESET_BERLIN=y

# File systems
CONFIG_AUTOFS_FS=y

# FUSE (Filesystem in Userspace) support
CONFIG_FUSE_FS=m
CONFIG_FUSE_PASSTHROUGH=y

# BPF subsystem
CONFIG_BPF_SYSCALL=y
CONFIG_BPF_UNPRIV_DEFAULT_OFF=y
# CONFIG_BPF_PRELOAD is not set

# RCU Subsystem
CONFIG_TASKS_RCU_GENERIC=y
CONFIG_NEED_TASKS_RCU=y
CONFIG_TASKS_RCU=y
CONFIG_TASKS_TRACE_RCU=y

# Control Group support
CONFIG_CGROUP_BPF=y
CONFIG_SOCK_CGROUP_DATA=y

# Networking support
CONFIG_NET_XGRESS=y
CONFIG_NET_SOCK_MSG=y

# XDP sockets
# CONFIG_XDP_SOCKETS is not set

# Core Netfilter Configuration
CONFIG_NETFILTER_BPF_LINK=y

# Network device support
# CONFIG_NETKIT is not set

# Library routines
CONFIG_BINARY_PRINTF=y

# Wireless LAN
CONFIG_WLAN=y

# Overlay filesystem support
CONFIG_OVERLAY_FS=y
CONFIG_OVERLAY_FS_REDIRECT_ALWAYS_FOLLOW=y
