CONFIG_DRM_MXSFB=y
CONFIG_DRM_FSL_LDB=y
CONFIG_DRM_PANEL_LVDS=y
CONFIG_DRM_ETNAVIV=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_BACKLIGHT_PWM=y
CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_TOUCHSCREEN_ST1232=y
# CONFIG_INPUT_EVBUG is not set
# CONFIG_FB_MXS is not set
# CONFIG_FB_MXC_LDB is not set
