# CODEOWNERS
# GitHub uses this file to automatically request reviews from the listed
# owners whenever a pull request touches matching files.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repository
*   @EdTheBearded @rborn-tx @jsrc27 @MatheusRodrigues-tor @Freireg
